{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-contact">
    <div class="wrap-contact">
        <div class="awards-form-more">
            <div class="awards-heading">
                <p> {% lorem 1 b random %}</p>
            </div>
            <div id="carouselExample" class="carousel slide" >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/award1.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award2.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award3.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award4.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award5.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award6.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award7.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award8.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award9.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award10.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/award11.jpg' %}" class="award-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/Netapp_award.jpg' %}" class="award-image" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
             </div>
        </div>
</div>
{% endblock %}